[submodule "piflash/esptool"]
	path = piflash/esptool
	url = https://github.com/espressif/esptool
[submodule "firmware/ESP8266_NONOS_SDK"]
	path = firmware/ESP8266_NONOS_SDK
	url = https://github.com/espressif/ESP8266_NONOS_SDK
