[submodule "firmware/ESP8266_NONOS_SDK"]
	path = firmware/ESP8266_NONOS_SDK
	url = https://github.com/espressif/ESP8266_NONOS_SDK
[submodule "piflash/pyFlashGui/esptool"]
	path = pyFlashGui/esptool
	url = https://github.com/AEFeinstein/esptool.git
[submodule "ESP-Asset-Packer"]
	path = ESP-Asset-Packer
	url = https://github.com/AEFeinstein/ESP-Asset-Packer
[submodule "firmware/emu/rawdraw"]
	path = firmware/emu/rawdraw
	url = https://github.com/cntools/rawdraw.git
	branch = master
[submodule "firmware/emu/android/rawdrawandroid"]
	path = firmware/emu/android/rawdrawandroid
	url = https://github.com/cnlohr/rawdrawandroid
